body{
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;/*Retirar as linhas de baixo do nome*/
}
a{
    text-decoration: none;/*Retirar as linhas de baixo do nome*/
}
section{
    width: 100%;/*Largura*/
    height: 95vh;/*Altura*/
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav{
    display: flex; /*Displei flexivel*/
    justify-content: space-between; /*Espaços entre os conteudos*/
    align-items: center;
    height: 60px;
    background-color: #ffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 22px;

}
.ative{
    font-weight: bold;
    color: #2d2a2a;
}
.conteudo-texto p:nth-child(1){/*mexer no primeiro paragrafo*/
    font-family: Calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 20px;
}
.conteudo-texto p:nth-child(2){
    font-family:Calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000;
    font-size: 60px;
}
.conteudo-texto p:nth-child(3){
    font-family: calibri;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
.conteudo-texto{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.conteudo-texto{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}
.conteudo-texto button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.btn1{
    border: 2px solid #373636;
    color: #373636;    
}
.btn2{
    background-color: #0b0b0b;
    border: none;
    color: #f6f5f5;
}
button:active{
    transform: scale(1.1);
}
/*Imagem de fundo*/
.imgpcp{
    height: 490px;
    position: absolute;
    bottom: 150px;
    left: 67%;
    transform: translate(-25%);
}
.conteudo-sobre{
    width: 80%;
    height: 330px;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.conteudo-sobre img{
    height: 250px;
}
.texto-sobre{
    width: 550px;
}
.conteudo-sobre p:th-child(1){
    color: #403e3e;
    font-family:calibri;
    font-weight:bold;
    font-size: 23px;
    line-height: 0px;  
}
.conteudo-sobre p:nth-child(2){
    color: #403e3e;
    font-size: 13px;
    font-family: calibri;
    font-weight: bold;
    line-height: 5px;
}
.conteudo-sobre p:nth-child(3)
.conteudo-sobre p:nth-child(4){
    color: #7e7e7e;
    font-family: calibri;
    font-size: 16px;
}
.texto-sobre button{
    width: 120px;
    height: 40px;
    color: #ffff;
    outline: none;
    font-family: calibri;
    background-color: #262325;
}
/*Seção de Serviços*/
.servicos{
    height: 600px;
    background-color: #ffff;
}
.servicos-texto p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #3d3d3d;
    font-size: 30px;
    line-height: 0px;
}
.servicos-texto p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 5px;
}
.servicos-texto p:nth-child(3){
    font-family: calibri;
    color: #7e7e7e;
   
}
.servicos-texto p:nth-child(4){
    font-family: calibri;
    font-weight: bold;
    color: #3d3d3d;
    font-size: 30px;
    line-height: 0px;
}